.item {
    padding: 10px;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 90px;
    padding: 10px 18px 10px 12px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border-top: 1px solid #ccced3;
}

.item:hover {
    background-color: #fafafa;
    cursor: pointer;
    outline: none;
}

.item:active{
    background-color: pink;
}

.listBox {
    overflow: auto;
    max-height: 80vh;
}