.item {
    padding: 10px;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 112px;
    padding: 10px 18px 10px 24px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border-top: 1px solid #ccced3;
}

.item:hover {
    background-color: red;
}

.item:active{
    background-color: pink;
}