.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.searchStyle {
  display: blox;
  position: absolute;
  color: #ffffff;
  z-index: 1 !important;
  left: calc(100vw - 65px)
}

.menuStyle {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 6px;
  margin-left: 4px;
  color: #ffffff;
  z-index: 1 !important;
  padding: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 1px;
}
.fireBaseStyle {
  display: inline-block;
  position: absolute;
  margin: 6px;
  margin-left: 400px;
  color: red;
  z-index: 1 !important;
  padding: 12px;
}

.iconButton {
  padding: 10;
}

.searchBox {
  width: 100%;
  padding-left: 16px;
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
 /*  align-items: center; */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.editWdget{
  background-color: honeydew;
  background: honeydew;
  z-index: 1 !important;
  display: inline-block;
  position: sticky;
  margin: 6px;
  padding: 12px;
  float: right;
  transition: transform 1s;
    z-index: 1;
    width: 300px;
    height: 100%;
}


  .rounded-rect {
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 50px -25px black;
  }

  .flex-center {
      position: absolute;
      display: flex;
      justify-content: center;
  }

  .flex-center.right {
      right: 0px;
  }

  .sidebar-content {
      position: absolute;
      width: 95%;
      height: 95%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 32px;
      color: gray;
  }

  .sidebar-toggle {
      position: absolute;
      width: 1.3em;
      height: 1.3em;
      overflow: visible;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .sidebar-toggle.left {
      right: -1.5em;
  }

  .sidebar-toggle.right {
      left: -1.5em;
  }

  .sidebar-toggle:hover {
      color: #0aa1cf;
      cursor: pointer;
  }

  .sidebar {
      transition: transform 0,5s;
      z-index: 1;
      width: 300px;
      height: 40%;
      margin-top: 15px;
      z-index: 1 !important;
  }

  .left.collapsed {
      /* transform: translateX(-295px); */
      display: true;
  }

  .right.collapsed {
    /*   transform: translateX(295px); */
      display: none
  }
